/* --------------- Fonts -------------- */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Kumbh Sans',Arial, Helvetica, sans-serif; }

/* --------------- Colors --------------- */
:root {
  --primary-purple: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --secondary-variant: #018786;
  --background: #121212;
  --error: #B00020;
  --error-light: #CF6679;
  --white: #FFFFFF;
  --light-white: #d1d1d1;
  --black: #000000;
  --light-black:#1b1a1a; }

/* --------------- Styling --------------- */
body {
  background-color: var(--background);
  display: grid;
  place-content: center;
  min-height: 100vh; }
  body .titulo, body .parrafo {
    color: var(--white); }
  body .titulo {
    opacity: 75%; }
  body .parrafo {
    opacity: 66%; }
  body .header {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    body .header .header__contenedor-logo {
      margin-bottom: -2rem; }
      body .header .header__contenedor-logo img {
        width: 100%; }
    body .header .header__subtitulo {
      margin-bottom: 1rem; }
    @media screen and (max-width: 768px) {
      body .header {
        margin-top: 0rem; }
        body .header .header__contenedor-logo {
          margin-bottom: -2.5rem; } }
  body #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body #main .verificador {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body #main .verificador .verificador__input-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light-black);
        border: 1px solid var(--primary-variant);
        border-radius: 10px;
        padding: .75rem;
        gap: .75rem; }
        body #main .verificador .verificador__input-label .verificador__input {
          color: transparent;
          width: 175px; }
        body #main .verificador .verificador__input-label .verificador__input::-webkit-file-upload-button {
          visibility: hidden; }
        body #main .verificador .verificador__input-label .verificador__input::before {
          content: 'Selecciona el archivo';
          color: black;
          width: 150px;
          text-align: center;
          display: inline-block;
          background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
          border: 1px solid var(--background);
          border-radius: 5px;
          padding: 5px 8px;
          outline: none;
          white-space: nowrap;
          user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 700;
          font-size: 10pt; }
        body #main .verificador .verificador__input-label .verificador__input:hover::before {
          border-color: var(--white); }
        body #main .verificador .verificador__input-label .verificador__input:active {
          outline: 0; }
        body #main .verificador .verificador__input-label .verificador__input:active::before {
          background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }
    body #main .opciones {
      display: flex;
      flex-direction: column;
      gap: .75rem;
      justify-content: center; }
      body #main .opciones .opcion-lexico, body #main .opciones .opcion-sintactico, body #main .opciones .opcion-interprete {
        border: 1px solid transparent;
        padding: .65rem;
        border-radius: 7px;
        background: var(--light-black) !important;
        font-size: .75rem;
        color: var(--light-white);
        border: 1px solid var(--black); }
        body #main .opciones .opcion-lexico:hover, body #main .opciones .opcion-sintactico:hover, body #main .opciones .opcion-interprete:hover {
          cursor: pointer;
          opacity: .75;
          border: 1px solid var(--primary-variant) !important; }
    body #main .verificador__output {
      padding: .75rem;
      border-radius: 5px;
      margin-top: 1rem;
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      background-color: var(--light-black);
      border: 1px solid var(--primary-variant);
      width: 65%; }
      @media screen and (max-width: 768px) {
        body #main .verificador__output {
          width: 95%; } }
      body #main .verificador__output .output-show {
        margin: 1rem;
        background-color: var(--light-black);
        padding: 1rem 0.75rem 1.5rem 0.75rem;
        display: block;
        width: 100%;
        justify-content: center;
        border-radius: 15px;
        border: 1px solid var(--black); }
      body #main .verificador__output .output-text {
        margin-top: .25rem;
        margin-right: .25rem; }
      body #main .verificador__output .arbolSintactico .desplazamiento {
        color: var(--light-black) !important; }
      body #main .verificador__output .error {
        color: var(--error-light); }
      body #main .verificador__output .lexema, body #main .verificador__output .complex {
        color: var(--primary-purple); }
    body #main .hide {
      display: none; }

/*# sourceMappingURL=styles.css.map */
